<style>
 .header, .footer {
   position: fixed;
   height: 75px;
   width: 100%;
   background: orange;
   left: 0px;
 }

 .header { top: 0px; }

 .footer { bottom: 0px; }

 .application__body {
   position: fixed;
   width: 100%;
   top: 75px;
   bottom: 75px;
 }

 /* This was a bit of a gotcha and is required to make fly-to animations
    when smooth when animating between containers of different sizes.
    Without this the smaller container will block out the larger one
    before the animation is complete. Try removing it to see.
  */
 .liquid-container, .liquid-child {
   weight: 100%;
   height: 100%;
 }
</style>

<div class='header'>
  {{#from-elsewhere name="header" as |header|}}
    {{#liquid-bind header rules=animationRules as |opts|}}
      {{opts.title}}
    {{/liquid-bind}}
  {{/from-elsewhere}}
</div>

<div class='application__body'>
  {{! Now that we are animating the route transition we need a liquid-outlet}}
  {{liquid-outlet}}
</div>

<div class='footer'>
  Footer
</div>
