<style>
 .item {
   border: 1px solid black;
   margin: 5px;
 }

 .index__scroll-container {
   height: 100%;
   overflow-y: scroll;

   /* Required for momentum scrolling in iOS Safari.
      also overflow-y has to be 'scroll' and not 'auto'
    */
   -webkit-overflow-scrolling: touch;
 }
</style>

<div class='index__scroll-container'>
  {{#each model as |item|}}
    {{#link-to 'item' item}}
      {{! Liquid Fire will match elements on data-item-id}}
      <div class='item' data-item-id={{item.id}}>
        {{item.name}}
      </div>
    {{/link-to}}
  {{/each}}
</div>

{{to-elsewhere named="header" send=(hash title="Product List")}}
