<style>
 .item.focused {
   border: 1px solid red;
   margin: 5px 20px 5px 20px;
 }
</style>
<div class='item focused' data-item-id={{model.id}}>
  {{model.name}} Detail
</div>

{{to-elsewhere named="header" send=(hash title="Details")}}
